@import '../../../scss/mixin.scss';

.profile {
  display: grid;
  row-gap: 5rem;

  // header
  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
    column-gap: 2rem;

    @include respond(phone) {
      grid-template-columns: none;
      grid-auto-flow: row;
      row-gap: 1rem;
    }
  }

  &__img-box {
    height: 50rem;
  }

  &__txt-box {
    display: grid;
    row-gap: 1rem;
    height: max-content;
    text-transform: capitalize;
    overflow: hidden;

    @include respond(phone) {
      padding: 0 2rem;
    }
  }

  &__head-box {
    display: grid;
    row-gap: 1rem;
  }

  &__name {
    font-size: 4rem;
  }

  &__job {
    font-size: 2rem;
  }

  &__sub {
    font-size: 1.5rem;
  }

  // body
  &__body {
    overflow: hidden;

    @include respond(phone) {
      padding: 0 2rem;
    }
  }

  &__desc {
    display: grid;
    row-gap: 2rem;
  }
}
