@import '../../../../scss/variables.scss';
@import '../../../../scss/mixin.scss';

.brand {
  grid-column: 1 / -1;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  column-gap: 2rem;
  width: max-content;
  text-transform: capitalize;

  @include respond(phone) {
    grid-auto-flow: row;
    background-color: $color-white;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    padding: 3rem 0 2rem 2rem;
    width: 100vw;
  }

  &__name {
    font-size: 3rem;

    @include respond(phone) {
      font-size: 2.5rem;
    }
  }

  &__sub {
    font-size: 1.6rem;
    color: $color-grey-dark;
    transform: translateY(-0.4rem);

    @include respond(phone) {
      font-size: 1rem;
      transform: translateY(0);
    }
  }
}
