@import '../../../../scss/variables.scss';
@import '../../../../scss/mixin.scss';

.main-footer {
  grid-column: 1 / -1;

  &__copyright {
    font-size: $font-size-small;
    text-transform: uppercase;

    @include respond(phone) {
      padding-left: 2rem;
    }
  }
}
