@import '../../../../scss/mixin.scss';
@import '../../../../scss/variables.scss';

.main-navigation {
  display: grid;
  grid-template-columns: 30% 1fr;
  row-gap: 5rem;
  margin: 10rem 8rem 5rem 8rem;

  @include respond(phone) {
    grid-template-columns: none;
    margin: 10rem 0 5rem 0;
  }

  &__main {
    @include respond(phone) {
      // margin-top: 10rem;
    }
  }
}
