@import '../../../../scss/variables.scss';
@import '../../../../scss/mixin.scss';

.main-header {
  @include respond(phone) {
  }

  // Hamburger button for mobile & tablet
  &__menu-btn {
    display: none;

    @include respond(phone) {
      width: 3.5rem;
      height: 5rem;
      background: transparent;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      position: fixed;
      top: 3rem;
      right: 2rem;

      & span {
        display: block;
        width: 3.5rem;
        height: 0.5px;
        background: $color-grey-dark;
      }
    }
  }

  // <NavLinks> <SNS> <Language>
  &__nav {
    display: grid;
    row-gap: 3rem;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;

    @include respond(phone) {
      display: none;
    }
  }

  // <Language>
  &__nav--right-box {
    position: fixed;
    top: 10rem;
    right: 5rem;
  }
}
