.side-drawer {
  position: fixed;
  width: 25rem;
  max-width: 65%;
  height: 100%;
  right: 0;
  top: 0;
  z-index: 300;
  background-color: white;
  padding: 3rem 1rem 3rem 3rem;
  transition: transform 0.3s ease-out;

  &__nav {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-content: space-between;
    height: 100%;
    text-transform: uppercase;
  }

  &__nav--right-box {
  }
}

// CSSTransition
.slide-enter {
  transform: translateX(100%);
  transition: 0.3s linear;
  opacity: 0;
}
.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
}
.slide-exit {
  transform: translateX(0%);
  transition: 0.3s linear;
  opacity: 1;
}
.slide-exit-active {
  transform: translateX(100%);
  opacity: 0;
}
