@import '../../../../scss/variables.scss';

.paginator {
  &--posts {
    display: grid;
    row-gap: 5rem;
  }

  &__control-box {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 2rem;
    font-family: 'Miller Banner', 'Times New Roman', serif;
    font-weight: 400;
    text-transform: capitalize;
  }

  &__control-box button {
    background: $color-white;

    @media (prefers-color-scheme: dark) {
      background: inherit;
      color: $color-dark-primary;
    }
  }

  &__number {
  }

  &__number--active {
    border-bottom: 1px solid $color-black;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $color-dark-primary;
    }
  }
}
