@import '../../../scss/variables.scss';
@import '../../../scss/mixin.scss';

.post-card {
  &__article {
    display: grid;
    row-gap: 5rem;
  }

  &__head {
    display: grid;

    @include respond(phone) {
      padding: 0 2rem;
    }
  }

  &__title {
    font-family: 'Miller Banner', 'Times New Roman', serif;
    font-weight: 400;
    font-size: 5rem;
    text-transform: capitalize;
    overflow-wrap: anywhere;
    hyphens: auto;
  }

  &__date {
  }

  &__body {
    display: grid;
    row-gap: 3rem;
  }

  &__main-image-box {
  }

  &__desc {
    font-family: 'Gotham Light', Arial, Helvetica, sans-serif;
    font-size: 13px;

    @include respond(phone) {
      padding: 0 2rem;
    }
  }
}
