@import '../../../../scss/variables.scss';

.language {
  display: grid;
  grid-auto-flow: column;
  column-gap: 0.5rem;
  font-size: 1.2rem;
  color: $color-grey-dark-2;
  cursor: pointer;

  & li:hover,
  li:active,
  li.active {
    color: $color-black;
  }

  & span {
    padding: 0 0.1rem;
  }

  &--main-header {
    justify-self: end;
    align-self: center;
  }

  &--side-drawer {
    font-size: 12px;
  }
}
