/** COLOR */
$color-primary: #000080;

$color-secondary: #fdfff0;

$color-tertiary: #800000;

// $color-quaternary: ;

$color-dark-primary: #1eff00;
$color-dark-primary-light: #e9ffe7;

$color-dark-secondary: #fdfff0;

$color-dark-tertiary: #800000;

// $color-dark-quaternary: ;

$color-grey-light: #e7e4df;
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #ccc;

$color-grey-dark: #979797;
$color-grey-dark-2: #6f6f71;
$color-grey-dark-3: #77777a;

$color-transparent: transparent;
$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.7);
$color-black: #000;
$color-dark-black: rgb(34, 34, 34);

// $color-success: ;
$color-danger: #830000;
$color-danger-light: #f34343;

/** FONT */
$font-size-default: 1.6rem;
$font-size-small: 1.2rem;

$font-weight-default: 400;
$font-weight-active: 600;

/** LAYOUT */
$layout-margin-left: 20%; // avoiding header
